{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["react"],
	"rules": {
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"quotes": ["warn", "single"],
		"semi": ["warn", "always"],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"react-hooks/exhaustive-deps": "off",
		"react/prop-types": 0
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
