@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.App {
  font-family: "Inter", sans-serif;
  color: white;
  background: #150032;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 960px;
  margin: 40px 0;
}

.hello {
  background: orange;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  padding: 32px 0 0 0;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  flex-direction: column;
  margin: 8px 0;
}

.input-group label {
  margin-bottom: 12px;
}

.input-group input {
  background: #ffffff22;
  border-radius: 4px;
  border: none;
  padding: 8px 4px;
  color: white;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #fff6;
}

.form button {
  padding: 6px 10px;
  background: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 272px;
}

.card-music {
  border: 1px white solid;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 200px;
  background: #ffffff33;
  border-radius: 10px;
}

.card-music img {
  width: 150px;
  height: 150px;
}

.card-music .title {
  font-size: 14px;
  text-align: center;
}

.card-music .artist {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.card-music .album {
  font-size: 10px;
  text-align: center;
}

.card-music button.play {
  padding: 12px 10px;
  background: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  width: 80%;
}

.card-music button.selected {
  background: #6940a3;
  color: #fff;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 20px 0;
  width: 972px;
}

.cp-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  width: 972px;
}
button {
  cursor: pointer;
}

nav.navbar {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.search-input {
  background: #fff2;
  border: 1px solid #fff;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 24px;
  flex: 6;
  color: white;
}

.cp-title-input {
  background: #fff2;
  border: 1px solid #fff;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 24px;
  flex: 2;
  color: white;
  height: 32px;
  margin-right: 10px;
}
.cp-description-input {
  background: #fff2;
  border: 1px solid #fff;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 24px;
  flex: 4;
  color: white;
  height: 32px;
}

.search-btn {
  height: 52px;
  background: white;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  flex: 1;
}
.cp-btn {
  height: 56px;
  background: none;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  flex: 1.5;
  color: white;
  border: 1px solid white;
}
.login-btn {
  height: 52px;
  background: #1dbc60;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 14px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.logout-btn {
  height: 52px;
  background: #e74c3c;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 14px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.btn {
  height: 52px;
  background: #0000;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 14px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}
