@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.App {
  font-family: "Inter", sans-serif;
  color: white;
  background: #150032;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.hello {
  background: orange;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: url("assets/background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 24px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  padding: 32px 0 0 0;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  flex-direction: column;
  margin: 8px 0;
}

.input-group label {
  margin-bottom: 12px;
}

.input-group input,
.input-group textarea {
  background: #ffffff22;
  border-radius: 4px;
  border: none;
  padding: 8px 4px;
  color: white;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #fff6;
}

.form button {
  padding: 6px 10px;
  background: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}

section.music {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-music {
  border: 1px white solid;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background: #ffffff33;
  border-radius: 10px;
}

.card-music img {
  width: 150px;
  height: 150px;
}

.card-music .title {
  font-size: 14px;
  text-align: center;
}

.card-music .artist {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.card-music .album {
  font-size: 10px;
  text-align: center;
}

.card-music button.play {
  padding: 6px 10px;
  background: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 20px;
}
